doctype html
html
  head
    title main-interface
    meta(charset="utf-8")
    script(src="/public/js/helper.js")
  body
    input#bSearch.searchMe(type="button",value="press this button please",onclick="startSearch()")
